@font-face {
    font-family: "Inter";
    src: url("../lib/font/inter/Inter-VariableFont_opsz\,wght.ttf");
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

:root {
    --xpa-foreground-z-index: 2000;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    font-family: 'Inter';
    font-style: normal;
}

body>* {
    width: 100%;
    height: 100%;
}

.background {
    background-color: #000;
    background-image: url('../img/background.webp');
}

.background,
.background>* {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.rain {
    transition: opacity 100ms;
    opacity: .7;
}

.rain.lightning {
    opacity: .4;
}

[data-bg] {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

[data-bg].active {
    display: block;
}

.main {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main>.row {
    height: 100%;
}

.card {
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    padding: 2em;
    width: fit-content;
    min-width: 25%;
    max-width: 576px;
    gap: 1em;
    background-color: transparent;
    transition: all 1s;
    margin: 0 auto;
}

.card:hover {
    box-shadow: 0 0 1em #ccc;
}

.card i {
    color: #fff;
}

.card .photo img {
    width: 122px;
    border-radius: 100%;
    border: 3px solid #fff;
}

.card .name {
    font-size: 1.5em;
    font-weight: 700;
    white-space: nowrap;
}

.card .contact {
    display: flex;
    flex-direction: column;
    gap: .5em;
    white-space: nowrap;
    font-size: .8em;
    color: #aaa;
}

.card .contact i {
    margin: 0 .5em;
}

.card .contact a {
    text-decoration: none;
    color: #aaa;
}

.card .contact .email:hover {
    text-decoration: underline;
}

.card .description {
    font-weight: 600;
}

.card .links {
    justify-content: center;
    gap: 1em;
    font-size: 1.2em;
}

.card .links .link {
    transition: all .5s;
    border: 1px solid transparent;
    border-radius: .3em;
}

.card .links .link i {
    padding: .2em;
}

.card .links .link:hover {
    border: 1px solid #fff;
}

.links .link a {
    white-space: nowrap;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: .8rem;
    z-index: var(--xpa-foreground-z-index);

    --bs-bg-opacity: .7;
}

.footer a {
    color: var(--bs-body-color);
}
